#reviewButton{
    -fx-background-color: #44711D;
    -fx-border-color: #5EB03E;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 1;
}

#reviewButton:hover{
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-cursor: hand;
    -fx-border-width: 2;
}

#editButton{
    -fx-background-color: none;
    -fx-border-color:  gray #2b2b2d  #2b2b2d  gray;
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 0.5;
}

.star:hover {
    -fx-blend-mode: add;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.menu-item .label {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 0.5;
    -fx-padding: 1 1 1 1;
}

.menu-item:focused {
    -fx-background-color: #28272C;
    -fx-border-color: gray #2b2b2d  #2b2b2d  gray;
    -fx-border-width: 0.5;
    -fx-cursor: hand;
}

.context-menu {
    -fx-background-color:  linear-gradient(to right, #1f1e23, #1F1E22, #181819);
    -fx-border-color: gray #2b2b2d  #2b2b2d  gray;
    -fx-border-width: 0.5;
    -fx-padding: 5 5 5 5;
}

#reviewButton:pressed{
    -fx-background-color: rgba(68, 113, 29, 0.4);
}

#reviewTextArea{
    -fx-control-inner-background:  #1f1e23; /* Cor de fundo interna */
    -fx-background-color: #1e1d21; /* Cor de fundo externa */
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #bebebe;
    -fx-border-color:   gray;
    -fx-border-width: 0.5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;

}
.text-area {
    -fx-background-color: #232327;
}
.text-area .content {
    -fx-background-color: #232327;
    -fx-padding: 20 20 20 20;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.text-area:focused .content {
    -fx-background-color: #232327;
    -fx-padding: 20 20 20 20;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#returnButton{
    -fx-blend-mode: screen;
    -fx-background-color: #4a4a4a;
    -fx-opacity: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#returnButton:hover{
    -fx-blend-mode: none;
    -fx-opacity: 1;
    -fx-background-color: #684eda;
}

#returnButton:pressed{
    -fx-opacity: 1;
    -fx-background-color: rgba(31, 30, 35, 0.4);
    -fx-border-color: white;
}


#episodeBox{
    -fx-font-family: "Segoe UI"; /* Aplicando a fonte Segoe UI */
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-control-inner-background: #1f1e23;
    -fx-prompt-text-fill: #929191;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-alignment: center;
}

#seasonBox{
    -fx-font-family: "Segoe UI"; /* Aplicando a fonte Segoe UI */
    -fx-font-weight: bold;
    -fx-font-size: 13;
    -fx-control-inner-background: #1f1e23;
    -fx-prompt-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#episodeBox .list-cell:selected .text {
    -fx-font-family: "Segoe UI"; /* Aplicando a fonte Segoe UI */
    -fx-font-weight: bold;
    -fx-alignment: center-right;
    -fx-fill: #FFFFFF; /* Cor do texto selecionado */

}

#seasonBox .list-cell:selected .text {
    -fx-font-family: "Segoe UI"; /* Aplicando a fonte Segoe UI */
    -fx-font-weight: bold;
    -fx-alignment: center-right;
    -fx-fill: #FFFFFF; /* Cor do texto selecionado */
}