* {
    -fx-primary-color: #1f2121;
    -fx-secondary-color: #191414;

    -fx-focus-color: -fx-secondary-color;
}

.tab-header-area .tab-header-background {
    -fx-background-color: -fx-primary-color;
    -fx-border-color: gray gray transparent gray;
    -fx-border-width: 0.1;

}
.tab-pane .tab:selected {
    -fx-background-color: -fx-secondary-color;
    -fx-border-color: gray gray transparent gray;
    -fx-border-width: 0.1;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
#favoritesTab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16;
    -fx-padding: 0 40 0 40;
}

#watchedTab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: lightseagreen;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 16;
    -fx-padding: 0 40 0 40;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 0;

    /* NO SPACE LEFT OF FIRST TAB */
    /* -fx-padding: 0 0 0 30; */
}
.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-width: 100px;
    -fx-tab-min-height: 30px;
    -fx-tab-max-height: 30px;
}
.tab-pane .tab {
    -fx-background-color: transparent;
}
.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0 0 0 0;
    -fx-border-radius: 0;
}